td, th
{
  vertical-align: middle !important;
}

.hover:hover
{
	background: #ccd3db !important;
}

.active
{
	background: #ccd3db !important;
}

#check 
{
    display:none;
}

#check + label
{
	margin: 0px;
	background: url("../img/Check-all.png") 50%/contain no-repeat;
	height: 20px;
	width: 20px;
} 


