<div class="container h-100">
	<div class="row h-100 d-flex align-items-center justify-content-between">
		<div class="col text-center">
			<h1 class="display-1">503</h1>
			<p>Похоже, возникли проблемы с сервером</p>
		</div>
	</div>
</div>