<div class="container h-100 d-flex align-items-center justify-content-center flex-column text-center">
	<div class="row mb-4">
		<div class="col">
			<h1 class="display-4">Страница не найдена</h1><br>
			<img src="<?php echo $this->url->get('img/Error404.jpg')?>" alt="">
		</div>
	</div>
	<div class="row w-100">
		<div class="col">
			<a href="/index/index"><button type="button" class="btn btn-success w-25">Главная</button></a>
		</div>
	</div>
</div>