<div class="container h-100">
    <div class="row h-100 d-flex align-items-center justify-content-between">
        <div class="col-8">
            <img class="img-thumbnail w-75" src="<?php echo $this->url->get('img/Cars.jpg')?>" alt="Автомобили">
        </div>
        <div class="col-4 text-center">
            <form action="/index/login" method="POST">
                <h1 class ="text-info mb-4">OOO "АвтоМагазин"</h1>
                <h5 class="mb-3 font-weight-normal">Войдите в систему</h5>
                <input type="text" name="login" class="form-control mb-1" placeholder="Логин" required>
                <input type="password" name="password" class="form-control" placeholder="Пароль" required>
                <?php $this->flash->output(); ?>
                <button href="Пользователь.html" class="btn btn-primary btn-block mt-3" type="submit">Войти</button>
                <p class="mt-3 text-muted">© OOO "АвтоМагазин" 2020 </p>                    
            </form>
        </div>
    </div>
</div>